.pptDetailItem-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1PX solid #CDCDCD;
  .ppt-con{
    width: 100%;
    height: 6rem;
    background: white;
    text-align: center;
    line-height: 6rem;
  }
  .understand{
    width: 95vw;
    height: 3rem;
    margin: .5rem auto;
    display: flex;
    justify-content: space-between;
    .return{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 1PX solid #CDCDCD;
      text-align: center;
      line-height: 3rem;
      font-size: 12PX;
    }
  }
  .comment-wrapper{
    width: 95vw;
    height: 3rem;
    margin: .5rem auto;
    border: 1PX solid #CDCDCD;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    .comment{
      width: 70%;
      height: 100%;
      margin-left: 1rem;
    }
    .publish{
      width: 20%;
      height: 2rem;
      margin: auto 1rem;
      background: #F8CE5E;
      border-radius: .3rem;
      text-align: center;
      line-height: 2rem;
    }
  }
}
