.total-score{
  width: 100%;
  height: 90vh;
  background: #CDCDCD;
  display: flex;
  flex-direction: column;
  .circle{
    width: 10rem;
    height: 10rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 5rem 5rem;
    grid-template-rows: 5rem 5rem;
    border-radius: 50%;
    background: white;
    text-align: center;
    font-size: 12PX;
    line-height: 5rem;
    border: 1PX solid #686868;
    .item1{
      border-right: 1PX solid #686868;
      border-bottom: 1PX solid #686868;
    }
    .item2{
      border-bottom: 1PX solid #686868;
    }
    .item3{
      border-right: 1PX solid #686868;
    }
  }
  .wrapper{
    width: 100%;
    height: 3rem;
    display: flex;
    text-align: center;
    line-height: 3rem;
    background: white;
    margin-top: 1rem;
    .item{
      flex: 1;
    }
    .left{
      border-right: 1PX solid #686868;
    }
  }
}
.preview-test-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  .wrapper1{
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    border-bottom: 1PX solid #CDCDCD;
    border-top: 1PX solid #CDCDCD;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 3rem;
    .item{
      width: 6rem;
      height: 100%;
      background: #F8CE5E;
      color: white;
    }
  }
  .wrapper2{
    width: 100%;
    display: flex;
    flex-direction: column;
    .item{
      width: 100%;
      height: 3rem;
      text-align: center;
      line-height: 3rem;
      display: flex;
      border-bottom: 1PX solid #CDCDCD;
      border-top: 1PX solid #CDCDCD;
      margin-top: 1rem;
      font-size: 13PX;
      .item-num{
        flex: 3;
        border-right: 1PX solid #CDCDCD;
      }
      .item-score{
        flex: 1;
      }
    }
  }
}
