.new-question-container{
  width: 100vw;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title,.info{
    border-bottom: 1PX solid #CDCDCD;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
